@{
    ViewBag.Title = "Contact";

    var sortedGameList = ViewBag.SortedGameList;

    var gameList = ViewBag.GameList;

    var langList = ViewBag.LangList;

    var lang = ViewBag.Lang;

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




<div id="result">

</div>

    

<script>


    $(function () {
        $("#result").load("/Home/_GetGameList");
    });
</script>